/*Chart color code*/
.block.AIADMK-color {
  background: #006837;
}
.block.DMK-color {
  background: #b71c24;
}
.block.AMMK-color {
  background: #00a2ab;
}
.block.MNM-color {
  background: #ffaa2e;
}

.aap,
.AAP,
.aap .party-score {
  fill: #4c9b7a;
  color: #4c9b7a;
}
.AIADMK {
  fill: #006837;
  color: #006837;
}
.DMK {
  fill: #b71c24;
  color: #b71c24;
  stroke: #b71c24;
}
.AMMK {
  fill: #00a2ab;
  color: #00a2ab;
  stroke: #00a2ab;
}
.MNM {
  fill: #ffaa2e;
  color: #ffaa2e;
  stroke: #ffaa2e;
}
.undeclared {
  fill: #fff;
  color: #fff;
  stroke: #7c7c7c;
}
.bjp {
  fill: #fa8601;
  color: #fa8601;
  stroke: #fa8601;
}
.INC {
  fill: #945a19;
  color: #945a19;
  stroke: #945a19;
}
.IML {
  fill: #194ab4;
  color: #194ab4;
  stroke: #194ab4;
}
.Others {
  fill: #797979;
  color: #797979;
  stroke: #797979;
}
